# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build output
dist
dist-ssr
build
out

# Environment variables
.env
.env.*
!.env.example
*.local

# Coverage
coverage
*.lcov

# Cache
.cache
.vite
.eslintcache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional framework/tool folders
.next
.parcel-cache
.turbo
